<div class="bg-white shadow rounded-md w-96 h-36 flex flex-row m-2">
  <div class="flex flex-col w-36">
    <img src="{{character.image}}" alt="" class="h-36 w-36 rounded-l-md">
  </div>
  <div class="flex flex-col w-full p-2">
    <span class="text-2xl font-bold whitespace-nowrap overflow-ellipsis w-64 overflow-hidden">{{character.name}}</span>
    <span class="">{{character.status ? character.status + ' - ' : ''}}{{character.species ? character.species : ''}}</span>
    <span class="text-gray-500">Última ubicación conocida:</span>
    <span class="">{{character.location.name}}</span>
    <span class="text-gray-500">Visto por primera vez:</span>
    <span class="">{{character.origin.name}}</span>
  </div>
</div>
