<div class="flex flex-row justify-end w-64 mb-4">
  <button mat-raised-button color="primary" (click)="mostrar = !mostrar">Mostrar | Ocultar</button>
</div>
<div class="bg-white border border-black w-64 rounded-md p-4" *ngIf="mostrar">
  <div class="flex flex row">
    <span class="text-lg font-medium">Ubicaciones</span>
  </div>
  <div class="flex flex row justify-center">
    <span class="text-3xl font-bold">{{response?.info.count | number}}</span>
  </div>
  <div class="flex flex row justify-center">
    <span class="">{{getCount() | number}} Por página</span>
  </div>
</div>
