<span class="text-2xl mb-8">Contacto de Desarrollador</span>

<div class="bg-white w-64 h-16 flex flex-row items-center shadow rounded-md mb-4">
  <mat-icon class="mx-2">alternate_email</mat-icon> <a href="mailto:imoon521@gmail.com">imoon521@gmail.com</a>
</div>
<div class="bg-white w-64 h-16 flex flex-row items-center shadow rounded-md mb-4">
  <mat-icon class="mx-2">alternate_email</mat-icon> <a href="mailto:imoon521@gmail.com">imoon521@gmail.com</a>
</div>
<div class="bg-white w-64 h-16 flex flex-row items-center shadow rounded-md mb-4">
  <mat-icon class="mx-2">alternate_email</mat-icon> <a href="mailto:imoon521@gmail.com">imoon521@gmail.com</a>
</div>
<div class="bg-white w-64 h-16 flex flex-row items-center shadow rounded-md mb-4">
  <mat-icon class="mx-2">alternate_email</mat-icon> <a href="mailto:imoon521@gmail.com">imoon521@gmail.com</a>
</div>
<div class="bg-white w-64 h-16 flex flex-row items-center shadow rounded-md mb-4">
  <mat-icon class="mx-2">alternate_email</mat-icon> <a href="mailto:imoon521@gmail.com">imoon521@gmail.com</a>
</div>
