<span class="text-2xl mb-8">Acerca de este proyecto</span>

<div class="bg-white h-32 flex flex-row items-center shadow rounded-md mb-4 p-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repellat asperiores doloribus molestiae ducimus quo tempore ipsum eum, maxime, illum optio porro nihil voluptatibus fuga, possimus
  odit explicabo voluptatum molestias.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repellat asperiores doloribus molestiae ducimus quo tempore ipsum eum, maxime, illum optio
  porro nihil voluptatibus fuga, possimus
  odit explicabo voluptatum molestias.
</div>
